.codelite/
/debian/files
/test/testdb*
/debian/lua51-ejdb*
/lua-ejdb_*.build
/lua-ejdb_*.dsc
/lua-ejdb_*.gz
/lua-ejdb_*.build
/lua-ejdb_*.changes
/lua51-ejdb_*.deb
/compile_commands.json

*.o
*.rock
*.so
*.log
*.project
*.tags
*.workspace

